<div *ngIf="isShowForm">
  <input placeholder="English" [(ngModel)]="newEn" />
  <br />
  <input placeholder="Vietnamese" [(ngModel)]="newVn" />
  <br />
  <button (click)="addWord()">Thêm từ mới</button>
</div>
<button (click)="isShowForm = !isShowForm" *ngIf="!isShowForm">
  Thêm từ mới
</button>

<!-- Loc phan tu trong mang -->

<br />
<!-- c1: -->
<select [(ngModel)]="filterStatus">
  <option value="XEM_TAT_CA">Xem tất cả</option>
  <option value="XEM_DA_NHO">Xem từ đã nhớ</option>
  <option value="XEM_CHUA_NHO">Xem từ chưa nhớ</option>
</select>

<div *ngFor="let word of arrWords">
  <div class="word" *ngIf="getShowStatus(word.memorized)">
    <h4 [ngStyle]="{ color: word.memorized ? 'green' : 'red' }">
      {{ word.en }}
    </h4>
    <p>{{ word.vi }}</p>
    <button (click)="removeWord(word.id)">xóa</button>
  </div>
</div>

<!-- c2:  -->
<!-- <select [(ngModel)]="filterStatus" (change)="filterWord()">
    <option value="XEM_TAT_CA">Xem tất cả</option>
    <option value="XEM_DA_NHO">Xem từ đã nhớ</option>
    <option value="XEM_CHUA_NHO">Xem từ chưa nhớ</option>
</select>

<div *ngFor="let word of arrWordsFilter" class="word">
  <h4 [ngStyle]="{ color: word.memorized ? 'green' : 'red' }">{{ word.en }}</h4>
  <p>{{ word.vi }}</p>
  <button (click)="removeWord(word.id)">xóa</button>
</div> -->
